header
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    div.container
      div.navbar-brand
        img(src="images/brand-icon.png" height="30" width="30")
      button(data-toggle="collapse" data-target=".navbar-collapse").ml-auto.navbar-toggler
          span.navbar-toggler-icon/
      div.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a(href="/").nav-link Home
        ul.navbar-nav
          if !user
            li.nav-item
              a(href="/auth/login").btn.btn-outline-success Sign In
          else
            li.nav-item
              a(href="/account").nav-link My Account
            li.nav-item
              a(href="/auth/logout").btn.btn-outline-danger Sign Out           
