.btn-google {
  padding-top: 0.7rem;
  height: 50px;

  font-weight: bold;
}

.btn-google .fab {
  font-weight: normal;
  padding-right: 0.4rem;
  font-size: 1.3rem;
  padding-top: 0.2em;
}

.dark-text {
  color: #222;
}

.light-text {
  color: #555;
}

.flex-1 {
  flex: 1!important;
}
